// Body
$body-bg: #f8fafc;

// Typography
@font-face {
    font-family: "sf_pro_displayregular";
    src: url("/fonts/sfprodisplay-regular-webfont.woff2") format("woff2"),
        url("/fonts/sfprodisplay-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
$site-font: "sf_pro_displayregular", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$site-color: #f1f5f9;
$sidebar-color: #f4f5f7;
$site-gray1: #e6e9ed
