// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";
html {
    overflow: scroll;
    font-family: $site-font;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent !important; /* make scrollbar transparent */
}
body {
    // background-color: $site-background;
}
// Client dashboard
.ant-layout-content {
    .row {
        margin-bottom: 30px;
        .row-title {
            width: 100%;
            padding: 15px 0;
            font-size: 16px;
            color: #001529;
        }
        .overview-cards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .card-item {
                box-shadow: 0px 3px 6px #6892fb29;
                border-radius: 10px;
                opacity: 1;
                background-color: #ffffff;
                width: 30%;
                .card-body {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-start;
                    .icon {
                        padding: 0 10px;
                        font-size: 20px;
                    }
                    .title-amount {
                        padding: 0 10px;
                        p {
                            margin: 0;
                            padding: 0;
                        }
                        .title {
                            color: #95969b;
                            font-size: 12px;
                        }
                        .amount {
                            font-weight: 600;
                        }
                    }
                }
                .card-footer {
                    background-color: #f9fafc;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    p {
                        color: #1890ff;
                        cursor: pointer;
                    }
                }
            }
        }

        // recent activities table css
        .ant-table-wrapper {
            width: 100%;
        }
    }
    .editable-add-btn {
        margin-bottom: 8px;
    }
}
